*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans','sans-serif';
}

html, body , #root{
  background-color: #efefef;
  height: 100%; /* Garante que a página ocupe toda a altura do viewport */
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column; /* Layout em coluna */
  min-height: 100%; /* Garante que o App ocupe toda a altura */
}

.App main {
  flex: 1; /* Faz o Container ocupar o espaço restante */
}